@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Poppins',sans-serif ;
}
html,
body{
          height: 100%;
          width: 100%;
          background: #1B1B1B;
          /* background: #fafafa; */
          scroll-behavior: smooth;
}
*::selection{
  background: #E5C567;
  color: #121212;
}

/* {{{{{{{{{{{{{{{{{
  {{{{{{{{{{{{{{{{
nav bar
    {{{{{{{{{{{{{{{}}}}}}}}}}}}}}}
  }}}}}}}}}}}}}}}}
}}}}}}}}}}}}}}}}} */

.top{
 
  margin-bottom: 1vw;
  /* margin-top: 1vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
  z-index: 999;
}
.top .tags{
  background: #383838;
  padding: 1vw;
  transition: .6s;
  border: 1px solid #777778;
  border-radius: 10px;
  display: flex;
  gap: 2vw;
}
.top .tags a{
  color: #fafafa;
  text-decoration: none;
  font-weight: 500;
}

.top .tags .home{
  color: #E5C567;
}


.top .tags a:hover{
  /* background-color: #2d6034;  */
  color: #E5C567;
  /* transform: scale(1.2); */
  transition: .3s;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  transform: rotate(-9deg);
}


/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
  [[[[[[[[[[[[[[[[[[[[[[
    {{{{{{{{{{{{
      {{{{{{{{{{{{{
        {{{{{{{{{{{{{{{{
          {{{{{{{{{{{{
            Hero section 
          }}}}}}}}}}}}
        }}}}}}}}}}}}}}}}
      }}}}}}}}}}}}}
    }}}}}}}}}}}}
  ]]]]]]]]]]]]]]]]]]]]]]
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}} */

.hero-section{
  transition: .5s;
         margin: 10vh 0 0 15vw;
          background: #1E1E1F;
          border-radius: 15px;
          border: 1.7px solid #383838;
          height: auto;
          width: 70%;
          padding: 1rem;
}

.hero-section h4{
          display: flex;
          justify-content: end;
          padding-right:1rem;
          padding-top: .19rem;
          color: #E5C567;
          font-weight: 400;
          font-size: 1.1vw;   
}
.hero-section .upper{
          display: flex;
          align-items: center;
          gap: 2vw;
}
.hero-section .upper .img-container{
          background: #383838;
          height: 20vh;
          margin-left: 2vw;
          border-radius: 20px;
          display: flex;
}
.hero-section .upper .img-container:hover{
          transition: 0.5s;
          transform: scale(1.1);
          cursor: pointer;
}
.hero-section .upper .img-container img:hover{
          transition: 0.3s;
          transform: scale(1.2);
}
.hero-section .upper .texts h1{
          color: #fafafa;
          font-size: 3vw;
          font-weight: 600;
}
.hero-section .upper .texts h1::selection{
          color: #121212;
          background: #E5C567;
}
.hero-section .upper .texts button{
          color: #fafafa;
          background: #383838;
          font-size: 1vw;
          font-weight: 400;
          border-radius: 5px;
          margin-top: 2vw;
          border: 1.7px solid #383838;
          padding:0 4px;
}
.hero-section .middle .up{
          display: flex;
          justify-content: start;
          gap: 9vw;
          border-top: 1px solid #383838;
          border-top-width: thin ;
          border-radius: 2px;
          margin-top: 2vw;
          padding: 2vw;
}
.hero-section .middle .up .one{
          display: flex;
          gap: 1vw;
}
.hero-section .middle .up .one .img-container{
          background: #383838;
          height: 7vh;
          width: 3vw;
          /* box-shadow: */
          margin-left: 2vw;
          border-radius: 6px;
          display: flex;
          justify-content: center;        
          align-items: center;
}
.hero-section .middle .up .one .img-container img{
          height: 1.6vw;
          width: auto;
}
.hero-section .middle .up .one .text p{
          color: #777778;
          font-size: 1vw;
          font-weight: 445;
}
.hero-section .middle .up .one .text h5{
          color: #fafafa;
          font-size: 1vw;
          font-weight: 445;
}

.hero-section .middle .down{
          display: flex;
          justify-content: start;
          gap: 9vw;
          
          /* border-bottom: 2px solid #383838; */
          border-radius: 20px;
          /* margin-top: 2vw; */
          padding: 2vw;
}
.hero-section .middle .down .one{
          display: flex;
          gap: 1vw;
          
}
.hero-section .middle .down .one .img-container{
          background: #383838;
          height: 7vh;
          width: 3vw;
          /* box-shadow: */
          margin-left: 2vw;
          border-radius: 6px;
          display: flex;
          justify-content: center;        
          align-items: center;
}
.hero-section .middle .down .one .img-container img{
          height: 1.6vw;
          width: auto;
}
.hero-section .middle .down .one .text p{
          color: #777778;
          font-size: 1vw;
          font-weight: 445;
}
.hero-section .middle .down .one .text h5{
          color: #fafafa;
          font-size: 1vw;
          font-weight: 445;
}
.hero-section .bottom{
          display: flex;
          padding-left: 4vw;
          padding-top: 2vw;
          gap: 1vw;
          justify-content: start;
}
.hero-section .bottom img{
          height: 16px;
          opacity: .8;
}
.hero-section .bottom img:hover{
          opacity: 1;
          cursor: pointer;
          transform: scale(1.3);
          transition: .3s;
}


/* {{{{{{{{{{{{{{{{
  {{{{{{{{{
  }}}}}}}}}}}
  {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
  {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
((((((((((((((((((((((((((((((((((((((((((((((((
    {{{{{{{
      About section 
    }}}}}}}
  }}}}}}}}
  }}}}}}}}}
}}}}}}}}}}}}}}}} */


.about-section{
  margin: 10vh 0 0 15vw;
  background: #1E1E1F;
  border-radius: 15px;
  border: 1.7px solid #383838;
  height: auto;
  width: 70%;
  padding: 2rem;
}
.about-section .heading{
  height: 10vh;
  width: auto;
  
}
.about-section .heading h1{
  color: #fafafa;
  font-size: 6vh;
  font-weight: 600;
  border-bottom: 2px solid #E5C567;
}
.about-section .paragraph{
  display: flex;
  flex-direction: column;
  gap: 3vh;
  color:#dcdcdc;
  opacity: .9;
  font-weight: 400;
  margin-top: 3vh;
  font-size: 2.6vh;
}
.about-section .what-doing{
  margin-top: 5vh;

}
.about-section .what-doing .heading{
  color: #fafafa;
  font-weight: 600;
  font-size: 2vw;
}
.about-section .what-doing .upper{
  display: flex;
  gap: 1vw;
}
.about-section .what-doing .upper .one{
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1.4vw;
  gap: 1rem;
  background: #222224;
  border-radius: 15px;
  border-top: 1px solid #777778;
  border-left: 1px solid #777778;
}
.about-section .what-doing .upper .one img{
  height: 40px;
  width: auto;
  margin-top: 7px;
}
.about-section .what-doing .upper .one .right h1{
  color: #fafafa;
  font-size: 1.5vw;
  font-weight: 600;
}
.about-section .what-doing .upper .one .right p{
  color: #fafafa;
  font-size: 1.1vw;
  color: #dcdcdc;
  margin-top: 1vh;
  /* font-weight: 00; */
}
.about-section .what-doing .upper .two{
  height: 20vh;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1.4vw;
  gap: 1rem;
  background: #222224;
  border-radius: 15px;
  border-top: 1px solid #777778;
  border-left: 1px solid #777778;
}
.about-section .what-doing .upper .two img{
  height: 40px;
  width: auto;
  margin-top: 7px;
}
.about-section .what-doing .upper .two .right h1{
  color: #fafafa;
  font-size: 1.5vw;
  font-weight: 600;
}
.about-section .what-doing .upper .two .right p{
  color: #fafafa;
  font-size: 1.1vw;
  color: #dcdcdc;
  margin-top: 1vh;
  /* font-weight: 00; */
}
 

/* ///// */

.about-section .what-doing .bottom{
  display: flex;
  gap: 1vw;
  margin-top: 1vw;
}
.about-section .what-doing .bottom .one{
  height: 20vh;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1.4vw;
  gap: 1rem;
  background: #222224;
  border-radius: 15px;
  border-top: 1px solid #777778;
  border-left: 1px solid #777778;
}
.about-section .what-doing .bottom .one img{
  height: 40px;
  width: auto;
  margin-top: 7px;
}
.about-section .what-doing .bottom .one .right h1{
  color: #fafafa;
  font-size: 1.5vw;
  font-weight: 600;
}
.about-section .what-doing .bottom .one .right p{
  color: #fafafa;
  font-size: 1.1vw;
  color: #dcdcdc;
  margin-top: 1vh;
  /* font-weight: 00; */
}
.about-section .what-doing .bottom .two{
  height: 20vh;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1.4vw;
  gap: 1rem;
  background: #222224;
  border-radius: 15px;
  border-top: 1px solid #777778;
  border-left: 1px solid #777778;
}
.about-section .what-doing .bottom .two img{
  height: 40px;
  width: auto;
  margin-top: 7px;
}
.about-section .what-doing .bottom .two .right h1{
  color: #fafafa;
  font-size: 1.5vw;
  font-weight: 600;
}
.about-section .what-doing .bottom .two .right p{
  color: #fafafa;
  font-size: 1.1vw;
  color: #dcdcdc;
  margin-top: 1vh;
  /* font-weight: 00; */
}


/* {{{{{{{{{{{{{{{{
  {{{{{{{{{
  }}}}}}}}}}}
  {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
  {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
((((((((((((((((((((((((((((((((((((((((((((((((
    {{{{{{{
      Resume section 
    }}}}}}}
  }}}}}}}}
  }}}}}}}}}
}}}}}}}}}}}}}}}} */


.resume-section{
  margin: 10vh 0 0 15vw;
  background: #1E1E1F;
  border-radius: 15px;
  border: 1.7px solid #383838;
  height: auto;
  width: 70%;
  padding: 2rem;
}
.resume-section .heading{
  color: #fafafa;
  font-size: 6vh;
  font-weight: 600;
  border-bottom: 2px solid #E5C567;
}
.resume-section .head{
  display: flex;
  margin-top: 6vh;
  gap: 1vw;
}
.resume-section .head img{
  height: 40px;
  background: #383838;
  border: 1px solid #777778;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-section .head h2{
  color: #fafafa;
  font: 1.5vw;
  font-weight: 500;
}
.resume-section .content{
  padding: 2vw;
}
.resume-section .content  .school h4{
  color: #fafafa;
  margin-bottom: .6vw;
}
.resume-section .content  .school h6{
  color: #E5C567;
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: .4vw;
}
.resume-section .content  .school p{
  color: #777778;
  margin-bottom: 3vw;
}
.resume-section .download-resume{
  text-decoration: none;
  color: #E5C567;
  padding: 1vw;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #E5C567;
  background: none;
  margin-left: 5vh;
}
.resume-section a:hover{
  background: #E5C567;
  color: #121212;
  
}

/* {{{{{{{{{{{{{{{{{{{
  {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
    """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
      ))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))
      [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[
        Projects section 
      ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}"
  }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
}}}}}}}}}}}}}}}}}}} */

.project-section{
  margin: 10vh 0 0 15vw;
  background: #1E1E1F;
  border-radius: 15px;
  border: 1.7px solid #383838;
  height: auto;
  width: 70%;
  padding: 2rem;
}
.project-section .heading{
  color: #fafafa;
  font-size: 5vh;
  font-weight: 600;
  border-bottom: 2px solid #E5C567;
}
.project-section .buttons {
  margin-top: 3vh;
  display: flex;
  gap: 2.3vw;
  /* position: relative; */
}
.project-section .buttons a{
  color: #dcdcdc;
  text-decoration: none;
}
.project-section .buttons .ai{
  color: #E5C567;
}
.project-section .buttons a:hover{
  color: #777778;
  transition: 0.3s;
  transform: scale(1.05);

}
.project-section .content-container{
  margin-top: 2vw;
}
.project-section .content-container .one{
  height: auto;
  width: auto;
  background: #222224;
  border: 1px solid #383838;
  border-radius: 10px;
  padding: 1vw;
  margin-top: 2vw;
}
.project-section .content-container .one img{
  height: 20vh;
  width: auto;
  border-radius: 10px;
}
.project-section .content-container .one img:hover{
  transform: scale(1.1);
  transition: .3s;
}
.project-section .content-container .one h3{
  color: #E5C567;
  font-weight: 500;
  font-size: 1.2vw;
  margin-left: .5vw;
}
.project-section .content-container .one p{
  color: #fafafa;
  font-size: 1vw;
  font-weight: 400;
  margin-top: 1vw;
}

/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
  [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[
    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
      {{{{{{{{{{{{{{{{{{{{{{{{{{
        skills section 
      }}}}}}}}}}}}}}}}}}}}}}}}}}
    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
  ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}} */

.skills{
  margin: 10vh 0 0 15vw;
  background: #1E1E1F;
  border-radius: 15px;
  border: 1px solid #383838;
  height: auto;
  width: 70%;
  padding: 2rem;
  /* box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22); */
}
.skills .heading{
  color: #fafafa;
  font-size: 5vh;
  font-weight: 600;
  border-bottom: .5px solid #777778;
  margin-bottom: 12vh;
}
.skills li{
  margin: 20px 0;
  padding: 10px;
  list-style: none;
  padding: 0 5vw;
}
.skills li h3{
  color: #dcdcdc;
  font-size: 1vw;
}
.bar{
  background: none;
  display: block;
  height: 10px;
  border: 1px solid #383838;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow:  0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(0.25,.8,.25,1);
}
.bar:hover{
  /* box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22); */
  transform: scale(1.05);
  transition: .3s;

}
.bar span{
  height: 15px;
  float: left;
  /* background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%); */
  background: #E5C567;
}
.html{
  width: 90%;
  animation: html 6s;
  color: #fafafa;
}
.css{
  width: 80%;
  animation: css 6s;
}
.javascript{
  width: 60%;
  animation: javascript 4s;
}
.cpp{
  width: 90%;
  animation: cpp 3s;
}
@keyframes cpp{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
.dsa{
  width: 70%;
  animation: dsa 7s;
}
@keyframes dsa{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
.dbms{
  width: 88%;
  animation: dbms 8s;
}
@keyframes dbms{
  0%{
    width: 0%;
  }
  100%{
    width: 88%;
  }
}
.os{
  width: 90%;
  animation: os 9s;
}
@keyframes os{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
.cn{
  width: 80%;
  animation: cn 10s;
}
@keyframes cn{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
.django{
  width: 60%;
  animation: django 4s;
}
@keyframes django{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
.reactjs{
  width: 50%;
  animation: reactjs 5s;
}
@keyframes reactjs{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}
.typescript{
  width: 40%;
  animation: typescript 4s;
}
@keyframes typescript{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}
.tailwind{
  width: 40%;
  animation: tailwind 5s;
}
@keyframes tailwind{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
.python{
  width: 90%;
  animation: python 5s;
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
.numpy{
  width: 60%;
  animation: numpy 5s;
}
@keyframes numpy{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
.mysql{
  width: 64%;
  animation: mysql 6s;
}
@keyframes mysql{
  0%{
    width: 0%;
  }
  100%{
    width: 64%;
  }
}
.docker{
  width: 55%;
  animation: docker 4s;
}
@keyframes docker{
  0%{
    width: 0%;
  }
  100%{
    width: 55%;
  }
}
.c{
  width: 97%;
  animation: c 7s;
}
@keyframes c{
  0%{
    width: 0%;
  }
  100%{
    width: 97%;
  }
}
.pandas{
  width: 57%;
  animation: pandas 7s;
}
@keyframes pandas{
  0%{
    width: 0%;
  }
  100%{
    width: 57%;
  }
}
.metplotlip{
  width: 47%;
  animation: metplotlip 4s;
}
@keyframes metplotlip{
  0%{
    width: 0%;
  }
  100%{
    width: 47%;
  }
}
.pytorch{
  width: 77%;
  animation: pytorch 6s;
}
@keyframes pytorch{
  0%{
    width: 0%;
  }
  100%{
    width: 77%;
  }
}

/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
  [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[
    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
      {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
        Contact section 
      }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
  ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}} */

.contact-section{
  margin: 10vh 0 0 15vw;
  background: #1E1E1F;
  border-radius: 15px;
  border: 1.7px solid #383838;
  height: auto;
  width: 70%;
  padding: 2rem;
}
.contact-section .heading{
  color: #fafafa;
  font-size: 5vh;
  font-weight: 600;
  border-bottom: 2px solid #E5C567;
}
.contact-section .forms{
  padding: 1vw;
  margin-top: 5vh;
}
.contact-section .forms .message{
  margin-top: 5vh;
}
.contact-section .forms .name{
  display: flex;
  height: 6vh;
  gap: 2vw;
}
.contact-section .forms .name input{
  height: 8vh;
  display: flex;
  color: #fafafa;
position: relative;
text-align: start;
padding-left: 1vw;
padding: 2vw;
font-size: 1.1vw;
border-radius: 10px;
font-weight: 500;
}

.contact-section .forms input{
  border: 1px solid #383838;
  background: none;
  padding-left: 1vw;
  padding-right: 25vw;
  padding-bottom:15vh ;
  padding-top: 1vw;
  border-radius: 10px;
  color: #fafafa;
}
.contact-section .forms input:hover{
  transform: scale(1.1);
  transition: .3s;
  border-color: #E5C567;
}
.contact-section button{
  margin-top: 3vh;
  height: 6vh;
  width: 8vw;
  background: none;
  border: 1px solid #E5C567;
  color: #E5C567;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  margin-left:55vw;
}
.contact-section button:hover{
  transform: scale(1.2);
  transition: .5s;
  background: #E5C567;
  color: #121212;
  font-weight: 600;
}
.contact-section .social-media{
  margin-top: 4vh;
  display: flex;
  gap: 1vw;
  margin-left: 1vw;
}
/* .contact-section .social-media h4{
color: #fafafa;
font-weight: 600;
font-size: 1vw;
} */
.contact-section .social-media a{
  background: #222224;
  padding: 1vw;
  border-radius: 10px;
  margin-bottom: 8vh;
}
.contact-section .social-media a:hover{
  transform: scale(1.2);
  transition: .3s;
  background: #121212;
}
.contact-section .social-media a img{
  height: 17px;
}
.contact-section .footer{
  border-top: 1px solid #383838;
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
}

.contact-section .footer p{
  color: #777778;
  font-size: 1vw;
}
.contact-section .footer .name:hover{
  color: #E5C567;
  transition: 0.3s;
}


/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}]
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
  (((((((((((((((((((((((((((((
    animation 
  )))))))))))))))))))))))))))))
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}} */

 h1,
 h2,h3,h4,h5,h6{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}
 
 span{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}
.hero-section{
  animation: none;
}
.about-section{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.resume-section{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.project-section{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.skills{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.contact-section{
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
@keyframes CSSscrollReveal {
  from{
    opacity: 0;
    transform: translateY(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0);
  }
}